<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <nav>
      <%= link_to "Users", users_path %>
      <%= link_to "Projects", projects_path %>
    </nav>
    <%= yield %>
  </body>
</html>
